.archive-item__title {
  font-size: 12pt;
  color: #474747;
  font-style: italic;
  font-family: 'Ubuntu Mono';
  font-weight: 600;
}

.archive-item__author {
  font-size: 10pt;
  font-style: italic;
}

.archive-item__date {
  font-size: 12pt;
  color: #3c8dbc;
  font-weight: 500;
}

.archive-item__journal {
  font-size: 12pt;
  font-weight: 500;
}
