<div ng-show="journalCtrl.editingProperty">
  <textarea name="journal-editor"
            id="journal-editor">
    {{journalCtrl.editingProperty.content}}
  </textarea>
</div>

<div ng-click="journalCtrl.editProperty(journalCtrl.$state.current.stateName)"
     class="btn btn-success btn-md pull-right editor-button"
     ng-show="!journalCtrl.editingProperty">
  Edit
</div>

<div ng-click="journalCtrl.updateProperty(journalCtrl.editingProperty.property)"
     class="btn btn-success btn-md pull-right editor-button"
     ng-show="journalCtrl.editingProperty">
  Save
</div>
