<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">{{'MSJ' | translate}}</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="signup">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            {{'SIGN_UP' | translate}}
          </a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="login">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            {{'LOGIN' | translate}}
          </a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li>
          <div class="language-container">
            <div class="flag flag-{{$ctrl.currentLanguage}}" ng-click="$ctrl.toggleLanguage()" aria-label="sdafasdf"></div>
            <ul class="languages-list" ng-show="$ctrl.languagesListExpanded">
              <li>
                <div ng-repeat="(short, full) in $ctrl.languages"
                     ng-if="short != $ctrl.currentLanguage"
                     ng-click="$ctrl.setLanguage(short)"
                     class="flag flag-{{short}}">
                  <div class="language-name">{{full}}</div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
