#header .container {
  padding: 0 0;
}

#header .container .nav li {
  float: left;
}

.menu-item {
  font-family: 'Roboto Slab';
  padding: 0 0 3px;
}

.navigation-menu {
  width: 250px;
}

.archive-detail {
  font-family: 'Roboto Slab';
}

.left {
  font-weight: bold;
  padding-left: 0;
}

.right {

}

.archive-item {
  border-radius: 5px;
  padding: 5px 10px;
  font-family: 'Roboto Slab';
  font-size: 15px;
}

.archive-title {
  font-size: 25px;
  border-bottom: 2px #428bca solid;
  padding-bottom: 15px;
}

.archive-authors {
  padding: 20px 0 0;
  font-size: 15px;
}

.archive-abstract {
  padding: 15px 0 0;
  font-size: 15px;
}

.archive-keywords {
  padding: 15px 0 0;
  font-size: 15px;

  .archive-keyword {
    cursor: pointer;
  }
  .archive-keyword:hover {
    text-decoration: underline;
    color: #265c9e;
  }
}

.archive-references {
  font-size: 15px;
  padding: 15px 0 0;

  .reference-item {
    padding: 3px 0 3px;
    cursor: pointer;

    .reference-order{
      width: 4%;
      float: left;
    }

    .reference-title {
      width: 96%;
      float: right;
    }
  }

  .reference-item:hover {
    color: #265c9e;

    .reference-title {
      text-decoration: underline;
    }
  }
}

.archive-file {
  font-size: 15px;
  padding: 15px 0;

  img {
    width: 50px;
    margin: 10px 10px 10px 0;
  }
}

.archive-item:hover {
  background-color: #c0ddb4;
}

.journal-category {
  font-size: 20px;
  color: #777;
  cursor: default;
}

.journal-property {
  color: #777;
  list-style: none;
  padding-left: 25px;

  li {
    padding: 4px 0;
  }

  li a {
    color: #8081b1;
    font-size: 15px;
    padding: 3px;
    border-radius: 2px;
  }

  li a:hover {
    color: #4ea540;
    font-size: 15px;
    text-decoration: none;
  }

  li a:focus {
    text-decoration: none;
  }

}

.journal-property-active {
  color: #4ea540;

  a {
    color: #4ea540 !important;
    font-weight: 700;
  }
}

.journal-content {
}

.editor-button {
  margin-top: 10px;
}
