<header class="hero-unit">
  <h2>{{journalCtrl.journal.abbreviation | translate}}</h2>
</header>
<div class="container content-padding">
  <div class="col-md-3">
    <div class="menu-item">
      <h4>
        <a href="">Journal And Information</a>
      </h4>
      <ul>
        <li><a ui-sref="journal.about" ng-click="journalCtrl.showPage('about')">About this journal</a></li>
        <li><a ui-sref="journal.aim-scope"  ng-click="journalCtrl.showPage('aim-scope')">Aim and scope</a></li>
        <li><a ui-sref="journal.terms-conditions" ng-click="journalCtrl.showPage('terms-conditions')">Terms and Conditions</a></li>
        <li><a ui-sref="journal.abstract-index" ng-click="journalCtrl.showPage('abstract-index')">Abstracting and Indexing</a></li>
        <li><a ui-sref="journal.editorial-board" ng-click="journalCtrl.showPage('editorial-board')">Editorial board</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4>
        <a href="">Volumes and issues</a>
      </h4>
      <ul>
        <li><a ui-sref="journal.last-volume-cover">Last volume cover</a></li>
        <li><a ui-sref="journal.archives">Archives</a></li>
        <li><a ui-sref="journal.old-archives">Old archives</a></li>
      </ul>
    </div>

    <div class="menu-item">
      <h4>
        <a href="">Submit to this journal</a>
      </h4>
      <ul>
        <li><a ui-sref="journal.rules">Rules</a></li>
        <li><a ui-sref="journal.submit">Submit</a></li>
        <li><a ui-sref="journal.instructions">Instructions for authors</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div ui-view></div>
  </div>
</div>
